%div
  %div
    %strong
      Requests:
  %div
    %a
      request description
  %div
    %strong
      offer/bids
  %div
    %li
      %a
        offer1
      %button
        accept
    %li
      %a
        offer2
      %button
        accept