%div
  %h3 Transaction History
  %table
    %tr
      %th Request Title
      %th Contact Person
      %th Karam Points
      %th Transaction Date
    - @user.render_transaction_history.each do |transaction|
      %tr
        %td
          = transaction[:request]
        %td
          = transaction[:member_name]
        %td
          = transaction[:points]
        %td
          = transaction[:points]
