%div
  Transaction History
  - @user.render_transaction_history.each do |transaction|
    %div
      %span Request:
      =transaction[:request]
    %div
      %span Member Name:
      =transaction[:member_name]
    %div
      %span Points:
      =transaction[:points]
    %div
      %span Date:
      =transaction[:date]
