%ul.user-profile
  %div.new-request
    = link_to "Log out", logout_path, method: :delete, class: 'button logout'
  %div.image
  = image_tag "micky.png"
  %li
    Name:
  %li=@user.name
  %li
    Karma Points:
  %li=@user.karma_points

  = render :partial => 'transaction_history'
