// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark_grey: #2D2B35;
$whitish: #F6F6F4;
$greyish: #9E949A;
$gold: #92773C;

li {
  list-style: none;
  &:nth-child(even) {
    background: $whitish;
    &:hover {
      background-color: $greyish;
    }
  }
}
.request-listing {
  li {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    a{
      color: $dark_grey;
      &:link {
        text-decoration: none;
      }
    }
    &:hover {
      background-color: $greyish;
      a {
        color: $whitish;
      }
    }
  }
}

.page-new-request, .page-new-offer {
  text-align: center;
  .title {
    text-transform: uppercase;
  }
  form {
    margin-top: 100px;
    >div {
      margin: 15px 0;
    }
    label {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .5px;
    }
    input[type='text'], textarea {
      width: 50%;
      margin: 10px 0;
      font-size: 16px;
      color: $dark_grey;
    }
    input[type='text'] {
      height: 25px;
    }
    textarea {
      height: 100px;
    }
    .btn {
      width: 150px;
      padding: 15px;
      margin: 0 5px;
      text-transform: uppercase;
      border-radius: 5px;
      font-size: 14px;
      &.create {
        color: $whitish;
        background-color: $gold;
        &:hover {
          background-color: darken($gold,10%);
        }
      }
      &.cancel {
        &:hover {
          background-color: darken($whitish,10%);
        }
      }
    }
  }
  .quote {
    font-style: italic;
    margin: 25px;
  }
}

.page-show-request {
  >div {
    margin: 50px 0;
    padding: 0 25px;
  }
  span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .offer-listing {
    padding: 0;
    span {
      padding: 0 25px;
    }
    li {
      padding: 10px 25px;
      span {
        padding: 0;
        font-size: 14px;
        display: inline-block;
      }
    }
  }
}
