$whitish: #F6F6F4;
$red_brown: #7B5F63;
$dark_red: #800000;

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
  h3 {
    text-transform: uppercase;
  }
  .error-img {
    background-image: image-url('error-pic.gif');
    width: 25%;
    padding-bottom: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .new-request {
    position: relative;
    right: unset;
    margin-top: 25px;
  }
}

.page-offer-list {
  .offer-listing {
    margin: 0;
    li {
      position: relative;
      height: 100px;
    }
  }
  .offer-actions {
    position: absolute;
    right: 25px;
    .button {
      &.default {
        background-color: $red_brown;
        color: white;
        &:hover {
          background-color: darken($red_brown,10%);;
        }
      }
      &.cancel {
        color: black;
        background-color: lighten($red_brown,50%);
        &:hover {
          background-color: $dark_red;
          color: white;
        }
      }
    }
  }
}
